.landing > .headder {
  position: relative;
  z-index: 99;
  background: #0f0f0f;
}
.headder .headder-content,
.controlls-section .controlls-inner,
.menues > div .inner{
  margin: auto;
  max-width: 1284px;
}
@media (max-width:1416px) {
  .headder .headder-content,
  .controlls-section .controlls-inner,
  .menues > div .inner{
    max-width: 1070px;
  }
}
@media (max-width:1200px) {
  .headder .headder-content,
  .controlls-section .controlls-inner,
  .menues > div .inner{
    margin: auto;
    max-width: 856px;
  }
}
@media (max-width:985px) {
  .headder .headder-content,
  .controlls-section .controlls-inner,
  .menues > div .inner{
    margin: auto;
    max-width: 642px;
  }
}
@media (max-width:788px) {
  .headder .headder-content,
  .controlls-section .controlls-inner,
  .menues > div .inner{
    margin: auto;
    max-width: 428px;
  }
}
@media (max-width:490px) {
  .headder .headder-content,
  .controlls-section .controlls-inner,
  .menues > div .inner{
    margin: auto;
    max-width: 214px;
  }
}
.controlls-section {
  position: sticky;
  top: 0px;
  background-color: #0f0f0f;
  z-index: 99;
}
.controlls-section::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 1px;
  width: 100%;
  background-color: #ffffff33;
}
.banner {
  margin-top: 8px;
  aspect-ratio: 18 / 3;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: url(/./imgs/banner.jpg);
  border-radius: 12px;
}
.banner img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
}
.channel-section {
  padding: 16px 0 4px;
  display: flex;

}
.channel-section .c-img {
  margin: 0 24px 0 0;
  display: flex;
  align-items: end;
}
.channel-section .c-img img{
  width: 160px;
  height:160px;
  border-radius: 50%;
  object-fit: cover;
}
.channel-section .channel-info {
  flex: 1;
}
.channel-section .channel-info .c-name {
  background-color: #0f0f0f;
}
.channel-section .channel-info .c-name h1{
  font-size: 36px;
  font-weight: 500;
  color: #F1F1F1;
  font-family: 'Roboto', 'Arial';
  margin-bottom: 4px;
  line-height: 50px;
  overflow: hidden;
  display: block;
  max-height: 100px;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  white-space: normal;
}
.channel-section .c-info{
  overflow: hidden;
}
.channel-section .channel-info .c-stat {
  display: flex;
}
.channel-section .channel-info .c-stat div {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #AAAAAA;
  font-family: 'Roboto', 'Arial';
  line-height: 20px;
  font-weight: 400;
}
.channel-section .channel-info .c-about {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #AAAAAA;
  font-family: 'Roboto', 'Arial';
  padding: 10px 0;
  cursor: pointer;
}
.channel-section .channel-info .c-about .svg {
  width: 24px;
  height: 24px;
}
.channel-section .channel-info .c-buttons {
  padding: 6px 0;
}
.channel-section .channel-info .c-buttons > div > div {
  margin: 0px 8px 8px 0px ;
  display: inline-block;
}
.channel-section .channel-info .c-buttons  button{
  font-size: 14px;
  line-height: 36px;
  padding: 0 16px;
  border-radius: 18px;
  font-family: 'Roboto', 'Arial';
  font-weight: 500;
  cursor: pointer;
}

.channel-section .channel-info .c-buttons .edit-buttons  {
}

.controlls {
  display: flex;
}
.controlls > div {
  position: relative;
  align-items: center;
  display: flex;
  flex-shrink: 0;
  height: 48px;
  justify-content: center;
  margin-right: 24px;
  min-width: 48px;
  color: #AAAAAA;
  font-family: 'Roboto', 'Arial';
  font-size: 16px;
  cursor: pointer;
}
.controlls div a{
  color: inherit;
  height: 100%;
  display: flex;
  align-items: center;
}
.controlls div:hover::after {
  opacity: 1;
}
.controlls div::after {
  content: '';
  position: absolute;
  bottom: 1px;
  left: 0px;
  width: 100%;
  height: 2px;
  background-color: #ffffff33;
  border-radius: 1px;
  opacity: 0;
  transition: 0.1s;
}
.controlls div.active {
  color: #f1f1f1;
}
.controlls div.active::after {
  background-color: #f1f1f1;
  opacity: 1;
}

.menues {
  display: flex;
  overflow: hidden;
  min-height: 780px
  /* scroll-snap-type: x mandatory; */
}
.menues::-webkit-scrollbar {
  display: none;
}
.menues > div {
  scroll-snap-align: start;
  scroll-snap-stop: always;
  transition: 0.2s;
}
.menues > div > div {
  width: calc(100vw - 89px);
  overflow: hidden;
}
@media (max-width: 788px) {
  .menues > div > div {
    width: calc(100vw - 0px);
  }
}
nav {
  z-index: 98;
}
/* body.right-nav-true nav,
body.nav-grapping nav{
  z-index: 100;
} */
.menues .home .home-inner > div {
  border-bottom: 1px solid #ffffff33;
}
.menues .home .home-inner > div:last-child {
  border-bottom: none;
}
.menues .home .home-inner > div .head {
  font-size: 20px;
  font-family: 'Roboto', 'Arial';
  color: #F1F1F1;
  font-weight: 500;
  margin-top: 20px;
}
.menues .home .home-inner > div .bottom {
  margin-bottom: 24px;
  margin-top: 24px;
}
.menues .home .home-inner > div .shorts-head {
  display: flex;
  align-items: center;
  margin-top: 20px;
  gap: 6px;
}
.menues .home .home-inner > div .shorts-head .head {
  margin: 0;
}
@media (max-width:505px) {
  .channel-section .c-img img{
    display: none;
  }
}

.editable {
  position: relative;
}
.editable .edit-pen{
  position: absolute;
  top: 0px;
  right: 0px;
  transform: translate(-5%,15%);
  background-color: #aaaaaacc;
  border-radius: 50%;
  width: 38px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.editable .edit-pen svg {
  fill: #ffffff;
}
.editable .edit-pen button {
  cursor: pointer;
}
.menues .filter {
  display: flex;
  margin-top: 16px;
  margin-bottom: 16px;
}
.menues .filter button {
  padding: 0 12px;
  margin-right: 12px;
  border-radius: 8px;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  font-family: 'Roboto','Arial';
  height: 32px;
  min-width: 12px;
  box-sizing: border-box;
  outline: none;
  user-select: none;
}
.menues .filter button.active {
  background-color: #fff;
  color: #000;
}
.menues .filter > div:last-child button {
  margin-right: 0px;
}