.landing {
  padding-bottom: 40px;
  height: auto;
}
.landing .sugg {
  overflow-x: scroll;
  display: flex;
  user-select: none;
  padding: 0px 16px;
}
.landing .sugg::-webkit-scrollbar {
  display: none;
}
.landing .sugg {
  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-thumb {
    width: 10px;
  }
  &::-webkit-scrollbar-track {
    width: 10px;
  }
}
.landing .sugg button {
  padding: 8px 12px;
  background-color: #ffffff1a;
  color: #f1f1f1;
  font-family: sans-serif;
  margin: 10px 6px;
  height: fit-content;
  width: fit-content;
  white-space: nowrap;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
}
.landing .sugg button:hover {
  background-color: #ffffff32;
}
.landing .sugg button:focus {
  background-color: #dbdbdb56;
}
.landing .sugg button:active {
  background-color: #dbdbdb56;
}
.landing .sugg button.active:focus {
  background-color: #ffffff;
}
.landing .sugg button.active:active {
  background-color: #ffffff;
}
.landing .sugg .last {
  width: 50px;
}
.landing .sugg .active {
  background-color: #f1f1f1;
  color: #0f0f0a;
}
.landing .sugg .active:hover {
  background-color: #f1f1f1;
}

.landing .one {
  display: flex;
}
.landing .back,
.landing .next {
  color: #fff;
  position: absolute;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0f0f0f;
  cursor: pointer;
  z-index: 1;
}
.landing .back::before,
.landing .next::before {
  content: "";
  position: absolute;
  bottom: -30px;
  left: 50%;
  -o-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #4b4b4b8f;
  color: rgba(255, 255, 255, 0.786);
  padding: 6px 12px;
  border-radius: 4px;
  font-family: sans-serif;
  font-size: 14px;
  display: none;
}
.landing .back::before {
  content: "previous";
  left: 75%;
}
.landing .next::before {
  content: "Next";
  left: 40%;
}
.landing .back:hover::before,
.landing .next:hover::before {
  display: block;
}
.landing .back {
  display: none;
}
.landing .next {
  right: 0;
}
.landing .back .svg,
.landing .next .svg {
  padding: 8px 8px;
  border-radius: 50%;
  -o-transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  transition: 0.2s;
  display: flex;
  align-items: center;
}
.landing .back:hover .svg,
.landing .next:hover .svg {
  background-color: #3f3f3f;
}
.landing .back::after {
  position: absolute;
  content: "";
  width: 50px;
  height: 100%;
  left: 48px;
  background: linear-gradient(to right, #0f0f0f 20%, rgba(33, 33, 33, 0) 80%);
  user-select: none;
}
.landing .next::after {
  position: absolute;
  content: "";
  width: 50px;
  height: 100%;
  right: 48px;
  background: linear-gradient(to left, #0f0f0f 20%, rgba(33, 33, 33, 0) 80%);
}

.videosCont {
  display: grid;
  gap: 60px 20px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  padding: 40px 90px 0px 90px;
  max-width: 2000px;
  margin-inline: auto;
}
.videosCont .video:focus {
  outline: none;
}
.videosCont .video:active {
  outline: none;
}
@media (max-width: 1208px) {
  .videosCont {
    padding: 30px 40px 0px 40px;
  }
}
@media (max-width: 788px) {
  .videosCont {
    padding: 30px 20px 0px 20px;
  }
}
@media (max-width: 675px) {
  .videosCont {
    padding: 30px 0 0 0;
    grid-template-columns: initial;
  }
  .videosCont .video {
    margin-inline: auto;
    width: 380px;
  }
}
@media (max-width: 400px) {
  .videosCont {
    padding: 30px 10px;
    grid-template-columns: initial;
    gap: 30px 20px;
  }
  .videosCont .video {
    margin-inline: auto;
    width: auto;
  }
}
.videosCont .video {
  position: relative;
  border-radius: 10px;
  font-family: "Roboto";
  cursor: pointer;
}
.videosCont .video .thumbnail {
  position: relative;
}
.videosCont .video .thumbnail .vid {
  background-color: black;
  aspect-ratio: 16 / 9;
  border-radius: 10px;
}
.videosCont .video .thumbnail .img {
  position: absolute;
  width: 100%;
  transition: .6s;
  z-index: 1;
}
.videosCont .video .thumbnail img {
  border-radius: 10px;
  width: 100%;
  transition: 0.5s;
}
.videosCont .video .thumbnail video {
  border-radius: 10px;
  width: 100%;
  aspect-ratio: 16 / 9;
  position: absolute;
}
.videosCont .video .thumbnail .time {
  position: absolute;
  bottom: 7px;
  right: 5px;
  color: #fff;
  background-color: #000000d4;
  padding: 3px 4px;
  border-radius: 5px;
  font-size: 12px;
  display: flex;
  z-index: 3;
}
.videosCont .video .thumbnail .time .currentTime,
.videosCont .video .thumbnail .time .dash {
  display: none;
}
.videosCont .video .thumbnail .time .dash {
  margin-inline: 6px;
}
.videosCont .video .info {
  display: flex;
  gap: 10px;
  margin-top: 12px;
  width: 100%;
}
.videosCont .video .info .channel-img {
  height: 36px;
}
.videosCont .video .info .channel-img:active,
.videosCont .video .info .channel-img:focus{
  outline: none;
}
.videosCont .video .info .channel-img:active img,
.videosCont .video .info .channel-img:focus img{
  outline: 2px solid #3ea6ff;
}
.videosCont .video .info img {
  width: 36px;
  border-radius: 50%;
}
.videosCont .video .info .content {
  flex: 1;
  width: calc(100% - 90px);
}
.videosCont .video .info .headder {
  margin-bottom: 4px;
}
.videosCont .video .info .headder p {
  color: #fff;
  font-size: 16px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.videosCont .video .info .channelName {
  font-size: 14px;
  color: #aaaaaa;
  padding-bottom: 2px;
  display: inline-block;
  
}
.videosCont .video .info .viewsDate {
  display: flex;
  font-size: 14px;
  color: #aaaaaa;
}
@media (max-width: 231px) {
  .videosCont .video .info .viewsDate {
    flex-direction: column;
  }
}
.videosCont .video .info .views {
  display: flex;
}
.videosCont .video .info .date::before {
  content: "•";
  margin-inline: 4px;
}
.videosCont .video .info .options {
  opacity: 0;
  height: 32px;
  border-radius: 50%;
  transition: opacity 0.2s;
  cursor: pointer;
}
.videosCont .video .info .options-container  {
  position: relative;
  height: 32px;
}

.videosCont .video .info .options-container .options-menu {
  position: absolute;
  background-color: #282828;
  top: 100%;
  right: 0;
  z-index: 40;
  padding: 10px 0px;
  border-radius: 8px;
  display: none;
}
.videosCont .video .info .options-container .options-menu .svg-cont{
  display: flex;
  align-items: center;
}
.videosCont .video .info .options-container.active .options {
  opacity: 1;
}
.videosCont .video .info .options-container.active  .options-menu{
  display: block;
}
.videosCont .video .info .options-container .options-menu div button{
  color: #F1F1F1;
  display: flex;
  align-items: center;
  gap: 8px;
  width: 128px;
  padding: 0 8px;
  height: 36px;
  cursor: pointer;
}
.videosCont .video .info .options-container .options-menu div button:hover{
  background-color: #464646;
}
.videosCont .video .info .options svg {
  width: 24px;
  height: 24px;
  padding: 4px;
  box-sizing: content-box;
}
.videosCont .video .info .options:hover {
  background-color: #aaaaaa33;
}
.videosCont .video .info .options:active {
  background-color: #ffffff32;
}
.videosCont .video:hover .info .options,
.videosCont .video:focus-within .info .options {
  opacity: 1;
}
.videosCont .video:hover .info .options {
  opacity: 1;
}

.videosCont .video.active .thumbnail .img {
  opacity: 0;
}
.videosCont .video.active .thumbnail img {
  border-radius: 0px;
}
.videosCont .video.active .thumbnail .time {
  bottom: 18px;
  left: 10px;
  background-color: transparent;
  transition: opacity 200ms ease-in;
}
.videosCont .video.tmcHover .thumbnail .time {
  opacity: 0;
}
.videosCont .video.active .thumbnail .time .currentTime,
.videosCont .video.active .thumbnail .time .dash {
  display: block;
}
.videosCont .video.active .thumbnail video {
  border-radius: 0px;
}
.videosCont .video.active .thumbnail .vid {
  border-radius: 0px;

}
.videosCont .video .thumbnail .mute {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 2;
  background-color: #00000061;
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 28px;
  height: 28px; */
  cursor: pointer;
  border-radius: 2px;
  transition: 0.2s;
  opacity: 0;
  display: flex;
  color: #fff;
  padding: 0px 5px;
}
.videosCont .video .thumbnail .mute span {
  height: 18px;
  width: 1px;
  background-color: #fff;
}
.videosCont .video .thumbnail .mute:hover {
  background-color: #000000b9;
}
.videosCont .video .thumbnail .mute svg {
  width: 34px;
  height: 34px;
  cursor: pointer;
}
.videosCont .video .thumbnail .mute svg:first-child {
  width: 34px;
  height: 30px;
}
.videosCont .video .thumbnail .mute button:last-child svg {
  opacity: 0.65;
}
.videosCont .video .thumbnail .mute button {
  height: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.videosCont .video .thumbnail .mute button:active,
.videosCont .video .thumbnail .mute button:focus{
  background-color: transparent;
}

.videosCont .video .thumbnail .mute button:focus {
  outline: none;
}
.videosCont .video.active .thumbnail .mute {
  opacity: 1;
}
.videosCont .video .thumbnail .mute.active .pathMute {
  display: none;
}
.videosCont .video .thumbnail .timeline-container {
  cursor: pointer;
  display: flex;
  align-items: center;
  box-sizing: content-box;
  position: absolute;
  bottom: 0px;
  z-index: 2;
  width: 100%;
  --progress-position: 0;
  background: linear-gradient(to top, #00000074, transparent);
  display: none;
}
.videosCont .video .thumbnail .timeline-container .timeline-holder {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 5px;
  display: flex;
  align-items: center;
}
.videosCont .video .thumbnail .timeline-container .timeline {
  height: 5px;
  width: 100%;
  position: relative;
  bottom: 0px;
  padding: 6px 0;
  box-sizing: content-box;
}
.videosCont .video .thumbnail .timeline-container .timeline .color-container {
  transition: transform 0.1s ease-in-out;
  width: 100%;
  height: 100%;
  position: relative;
  transform: scaleY(.6);
  background-color: rgba(255,255,255,.2);
  overflow: hidden;
}
.videosCont .video .thumbnail .timeline-container .timeline .color-container div {
  height: 100%;
  position: absolute;
  bottom: 0;
}
.videosCont .video .thumbnail .timeline-container .timeline .timelineCurrent {
  z-index: 3;
  width: calc(var(--progress-position) * 100%);
  background-color: red;
}
.videosCont .video .thumbnail .timeline-container .timeline .timelineBufferd {
  z-index: 1;
  width: calc(var(--buffered-position) * 1%);
  background-color: rgb(178, 178, 178);
}
.videosCont .video .thumbnail .timeline-container .timeline .timelineGoing {
  z-index: 2;
  width: calc(var(--preview-position) * 100%);
  background-color: rgba(214, 214, 214, 0.682);
  opacity: 0;
}

.videosCont .video .thumbnail .timeline .thumb-indicaror {
  position: absolute;
  transform: translateY(-50%) translateX(50%);
  height: 250%;
  top: 50%;
  right: calc(100% - var(--progress-position) * 100%);
  background-color: red;
  transition: width 150ms linear, height 150ms linear;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  width: 0px;
  height: 0px;
  z-index: 4;
}
.videosCont .video .thumbnail .timeline-holder:hover .timeline .thumb-indicaror,
.videosCont
  .video
  .thumbnail
  .timeline-holder.scrubbing
  .timeline
  .thumb-indicaror {
  width: 12px;
  height: 12px;
}
.videosCont .video .thumbnail .timeline-holder:hover .color-container,
.videosCont .video .thumbnail .timeline-holder.scrubbing .color-container {
  transform: scaleY(1);
}
.videosCont .video .thumbnail .timeline-holder:hover .timeline .timelineGoing {
  opacity: 1;
}
.videosCont .video .timeline-container #going {
  position: absolute;
  top: -5px;
  transform: translate(-50%, -100%);
  left: calc(var(--preview-position-time) * 100%);
  border-radius: 4px;
  pointer-events: none;
  color: #DDDDDD;
  font-family: 'Roboto';
  font-size: 13px;
  display: none;
  z-index: 1;
  background-color: #000000de;
  padding: 3px 6px;
}
.videosCont .video .thumbnail .timeline-holder:hover .timeline #going {
  display: block;
}
.videosCont .video.active .timeline-container {
  display: flex;
}
:root {
  --flotaing-transition: .1s;
}
.floating-video {
  position: fixed;
  left: 0;
  top: 0px;
  width: 100%;
  height: 100vh;
  background-color: #0f0f0f;
  z-index: 101;
  transition: var(--flotaing-transition);
  display: none;
  overflow: hidden;
}
.floating-video .Wleft{
  width: 100%;
  transition: 0s;
  display: flex;
  justify-content: space-between;
}
body.mobile.floating .landing {
  padding-bottom: 124px;
}
body.mini-palyer .floating-video {
top: initial ;
height: 58px ;
}
body.mini-palyer .floating-video .Wleft{
  height: 100%;
}
body.swiping .floating-video .Wleft{
  height: initial;
}
.floating-video .Wleft .mainVideo {
  transition: var(--flotaing-transition);
  min-height: 58px;
}
body.swiping .floating-video,
body.swiping .floating-video .Wleft,
body.swiping .floating-video .Wleft .mainVideo,
body.swiping .floating-video .Wleft,
body.swiping .floating-video .Wleft  .floating-conrolls,
body.swiping .mobile-bottom-bar  {
  transition: 0s;
}

.floating-video .Wleft .videoCont{
  width: 100%;
}
.floating-video .Wleft  .floating-conrolls {
  width: 0%;
  transition: var(--flotaing-transition);
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: end;
}
.floating-video .Wleft  .floating-conrolls button {
  height: 58px;
  width: 46px;
}
.floating-video .Wleft  .floating-conrolls svg {
  height: 28px;
  width: 28px;
}
body.mini-palyer .floating-video .Wleft  .floating-conrolls {
  width: 200%;
}
body.mini-palyer .floating-video .Wleft .video-overlay{
  opacity: 0;
}
body.swiping .floating-video .Wleft .video-overlay{
  opacity: 0;
  }
/* body.mini-palyer .floating-video .Wleft .mainVideo  {
  height: 64px !important;
} */
.floating-video .Wright{
  width: 100%;
  overflow-y: scroll;
  height: 100%;
  opacity: 1;
  /* transition: .4s; */
}
.floating-video .Wright::-webkit-scrollbar {
  display: none;
}
body.mini-palyer .floating-video .Wright{
  opacity: 0;
}
/* body .floating {
  overflow: hidden;
} */
video {
  object-fit: cover;
}
