* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body {
  background-color: #0f0f0f;
}
::-webkit-scrollbar {
  width: 4px;
  height: 0px;
}
::-webkit-scrollbar-track {
  background-color: #0f0f0f;
}
::-webkit-scrollbar-thumb {
  background-color: hsl(0,0%,67%);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: gray;
}
svg {
  width: 24px;
  height: 24px;
  fill: white;
}
.login img,
.account .account-setting .account-s img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 0px solid black;
  cursor: pointer;
}
nav {
  position: fixed;
  width: 100%;
  height: 54px;
  display: flex;
  justify-content: space-between;
  padding: 0px 16px;
  background-color: #0f0f0f;
  z-index: 100;
}
.first {
  display: flex;
  align-items: center;
}
.first svg {
  width: 24px;
  height: 24px;
  color: white;
}
.first .Options {
  padding: 8px;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -ms-transition: .2s;
  -o-transition: .2s;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  position: relative;
}
.first .Options:hover {
  background-color: #272727;
  cursor: pointer;
}
.first .logo {
  margin-left: 10px;
  position: relative;
  cursor: pointer;
  margin-right: 20px;
}
.first .logo p {
  position: absolute;
  font-size: 10px;
  color: #aaa;
  right: -16px;
  font-family: sans-serif;
  top: -4px;
  cursor: default;
}
.first .logo svg {
  width: 90px;
}
.second {
  display: flex;
  align-items: center;
  position: relative;
  width: 58%;
}
.second .search {
  display: flex;
  width: 100%;
  border: 1px solid #272727;
  border-radius: 40px 0 0 40px;
  height: 40px;
  align-items: center;
}
.second .search input {
  width: 100%;
  background-color: #0f0f0f;
  border: none;
  outline: none;
  margin-left: 14px;
  color: white;
  font-size: 16px;
  height: 30px;
}
#Search {
  display: flex;
  align-items: center;
  background-color: #ffffff14;
  height: 34px;
  border: 1px solid #303030;
  border-radius: 0 40px 40px 0;
  width: 80px;
  justify-content: center;
  border-left-color: transparent;
  cursor: pointer;
  height: 40px;
  position: relative;
}
.second .voice {
  margin-left: 8px;
  background-color: #181818;
  padding: 8px;
  border-radius: 50%;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -ms-transition: .2s;
  -o-transition: .2s;
  cursor: pointer;
  position: relative;
}
.second .voice:hover {
  background-color: #272727;
}
nav .third {
  display: flex;
  align-items: center;
  width: 170px;
  justify-content: space-around;
}
.third .add,
.third .notifications {
  padding: 8px;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -ms-transition: .2s;
  -o-transition: .2s;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  position: relative;
}
@media (min-width: 520px) {
  .third .add:hover,
.third .notifications:hover {
  background-color: #272727;
  cursor: pointer;
}
}
.third .login {
  position: relative;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  display: flex;
  transform: translateY(0px);
}
.third .login img {
  border: 0px solid #3ea6ff;
  box-sizing: content-box;
}
@media (max-width: 520px) {
  .second {
    justify-content: flex-end;
  }
  .second .search {
    display: none;
  }
  .second #Search {
    border: none;
    width: auto;
    height: auto;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    padding: 8px;
    background-color: transparent;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s;
}
  .second .voice {
    background-color: transparent;
    margin-right: 6px;
  }
  .first .Options {
    display: none;
  }
  .third .add {
    display: none;
  }
  .third {
    width: 100px;
  }
  .third .notifications {
    padding: 8px;
  }
  .third .login {
    padding: 0 0 0 4px;
  }
}
@media (max-width: 440px) { 
  .second .voice {
    display: none;
  }
  .first .logo {
    margin: 0;
  }
}
.second #Search::after,
.second .voice::after,
.third .add::after,
.third .notifications::after {
  content: "Search";
  position: absolute;
  bottom: -38px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  background-color: #4b4b4bd4;
  color: white;
  padding: 6px 12px;
  border-radius: 4px;
  font-family: sans-serif;
  font-size: 14px;
  display: none;
}
.second .voice::after {
  content:"Search With Your Voice";
  font-size: 14px;
  width: 150px;
}
.third .add::after {
  content: "Create";
}
.third .notifications::after {
  content: "Notifications";
  font-size: 14px;
}
@media (min-width: 520px) {
  .second #Search:hover::after,
.second .voice:hover::after,
.third .add:hover::after,
.third .notifications:hover::after {
  display: block;
}
.right-nav-mobile {
  display: none;
}
}
.right-nav,
.right-nav-open {
  position: fixed;
  left: 0px;
  top: 54px;
  z-index: 1;
  transition: .1s;
  -webkit-transition: .1s;
  -moz-transition: .1s;
  -ms-transition: .1s;
  -o-transition: .1s;
}

.right-nav .left ,
.right-nav-open .left{
  display: flex;
  flex-direction: column;
  width: 73px;
  background-color: #0f0f0f;
  height: calc(100vh - 54px);
  padding: 0 4px;
  transition: .1s;
  -webkit-transition: .1s;
  -moz-transition: .1s;
  -ms-transition: .1s;
  -o-transition: .1s;
}

.right-nav .left div,
.right-nav-open .left div{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 0 14px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  cursor: pointer;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -ms-transition: .2s;
  -o-transition: .2s;
}

.right-nav .left .subs span,
.right-nav-open .left .subs span{
  font-size: 11.4px;
}
@media (min-width: 520px) {
  .right-nav .left div:hover {
  background-color: #272727;
}
}

.right-nav .left span,
.right-nav-open .left span{
  color: #fff;
  max-width: 100%;
  display: block;
  max-height: 1.4rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.4rem;
  margin-top: 4px;
}

.right-nav-open {
  z-index: 1000;
  left: -240px;
  transition: .5s;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
  top: 0;
  background-color: #0f0f0f;
  padding: 7px 16px;
  width: 240px;
}
@media (max-width: 520px) {
  .right-nav-open {
    display: none;
  }
}
.right-nav-open .first {
  padding-bottom: 19px;
}
.right-nav-open .left {
  width: 100%;
  padding: 9px;
}
.right-nav-open .left div {
  flex-direction: row;
}
.right-nav-mobile {
  position: fixed;
  bottom: 0;
  top: unset;
  z-index: 1;
  transition: .1s;
  -webkit-transition: .1s;
  -moz-transition: .1s;
  -ms-transition: .1s;
  -o-transition: .1s;
  width: 100%;
  left: 0;
  z-index: 1;
}
.right-nav-mobile .left {
  display: flex;
  flex-direction: revert;
  width: 100%;
  background-color: #0f0f0f;
  padding: 0 4px;
  transition: .1s;
  -webkit-transition: .1s;
  -moz-transition: .1s;
  -ms-transition: .1s;
  -o-transition: .1s;
  justify-content: space-between;
  border-top: 1px solid #505050;
}
.right-nav-mobile .left div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 14px 16px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  cursor: pointer;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -ms-transition: .2s;
  -o-transition: .2s;
}
.right-nav-mobile .left span  {
  color: #fff;
  display: none;
  max-width: 100%;
  max-height: 1.4rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.4rem;
  margin-top: 4px;
}
.right-nav-mobile .left .home {
  order: 3;
}
.right-nav-mobile .left .downloads {
  order: 5;
}
.right-nav-mobile .left .library {
  order: 2;
}
.right-nav-mobile .left .subs {
  order: 4;
}
@media (max-width: 520px) {
  nav {
    padding: 2px 8px;
    border-bottom: 1px solid #505050;
  }
  .right-nav {
    top: unset;
    bottom: 0;
    left: 0;
    display: none;
  }
  .right-nav .left { 
    width: 100%;
    height: 52px;
    justify-content: space-around;
    border-top: 1px solid #505050;
  }
  .right-nav .left div {
    padding: 16px 14px 16px;
  }
  .right-nav .left span  {
    color: #fff;
    display: none;
    max-width: 100%;
    max-height: 1.4rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.4rem;
    margin-top: 4px;
  }
  .right-nav .left .home {
    order: 3;
  }
  .right-nav .left .downloads {
    order: 5;
  }
  .right-nav .left .library {
    order: 2;
  }
  .right-nav .left .subs {
    order: 4;
  }
}
.landing {
  background-color: #0f0f0f;
  transform: translateX(73px) translateY(54px);
  -webkit-transform: translateX(73px) translateY(54px);
  -moz-transform: translateX(73px) translateY(54px);
  -ms-transform: translateX(73px) translateY(54px);
  -o-transform: translateX(73px) translateY(54px);
  height: calc(100vh - 54px);
  width: calc(100% - 73px);
  transition: .1s;
  -webkit-transition: .1s;
  -moz-transition: .1s;
  -ms-transition: .1s;
  -o-transition: .1s;
  min-height: 1000px;
}
.landing .sugg {
  overflow-x: scroll;
  display: flex;
}
.landing .sugg {
  &::-webkit-scrollbar {
  width: 10px;
  }
  &::-webkit-scrollbar-thumb {
  width: 10px;
  }
  &::-webkit-scrollbar-track {
  width: 10px;
}
}
.landing .sugg span {
  padding: 8px 12px;
    background-color: #ffffff1a;
    color: #f1f1f1;
    font-family: sans-serif;
    margin: 10px 6px;
    height: fit-content;
    width: fit-content;
    white-space: nowrap;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
}
.landing .sugg .last {
  width: 50px;
}
.landing .sugg span:hover {
  background-color: #ffffff32;
}
.landing .sugg .active {
  background-color: #f1f1f1;
  color: #0f0f0a;
}
.landing .sugg .active:hover {
  background-color: #f1f1f1;
}
@media (max-width: 520px) {
  .landing {
    background-color: #0f0f0f;
    transform: translateX(72px) translateY(54px);
    -webkit-transform: translateX(0) translateY(54px);
    -moz-transform: translateX(72px) translateY(54px);
    -ms-transform: translateX(72px) translateY(54px);
    -o-transform: translateX(72px) translateY(54px);
    height: calc(100vh - 54px);
    width: 100%;
  }
}
.landing .one {
  display: flex;
}
.landing .back,
.landing .next{
  color: #fff;
  position: absolute;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0f0f0f;
  cursor: pointer;
  z-index: 1;
}
.landing .back::before,
.landing .next::before {
  content: "";
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  background-color: #4b4b4b8f;
  color: rgba(255, 255, 255, 0.786);
  padding: 6px 12px;
  border-radius: 4px;
  font-family: sans-serif;
  font-size: 14px;
  display: none;
}
.landing .back::before {
  content: "previous";
  left: 75%;
}
.landing .next::before {
  content: "Next";
  left: 40%;
}
.landing .back:hover::before,
.landing .next:hover::before {
  display: block;
}
.landing .back {
  display: none;
}
.landing .next {
  right: 0;
}
.landing .back i,
.landing .next i {
  padding: 11px 14px;
  border-radius: 50%;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -ms-transition: .2s;
  -o-transition: .2s;
}
.landing .back i:hover,
.landing .next i:hover {
  background-color: #2d2d2d9f;

}
.landing .back::after {
  position: absolute;
  content: "";
  width: 50px;
  height: 100%;
  left: 50px;
  background: linear-gradient(to right,#0f0f0f 20%,rgba(33,33,33,0) 80%);
}
.landing .next::after {
  position: absolute;
  content: "";
  width: 50px;
  height: 100%;
  right: 50px;
  background: linear-gradient(to left,#0f0f0f 20%,rgba(33,33,33,0) 80%);
}
@media (max-width: 520px) {
  .landing .back,
.landing .next{ 
  display: none;
}
}
nav .account {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 1;
  top: 0;
  left: 0;
  display: none;
  opacity: 0;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  background-color: rgba(0, 0, 0, 0.57);
}
.account .account-setting {
  position: absolute;
  right: 0px;
  top: 10px;
  width: 300px;
  background-color: #282828;
  border-radius: 14px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  -o-border-radius: 14px;
  overflow-y: scroll;
  max-height: 652px;
  min-height: 300px;
  -ms-overflow-style: none;
  scrollbar-width: none;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -ms-transition: .2s;
  -o-transition: .2s;
}
.account .account-setting::-webkit-scrollbar {
  display: none;
}
.account .account-setting .account-s {
  display: flex;
  padding: 16px;
  position: fixed;
  width: 300px;
  background-color: #282828;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  height: 110px;
  padding-top: 25px;
}
.account .account-setting .account-s img {
  width: 45px;
  height: 45px;
}
.account .account-setting .account-s .info {
  transform: translateX(16px);
  -webkit-transform: translateX(16px);
  -moz-transform: translateX(16px);
  -ms-transform: translateX(16px);
  -o-transform: translateX(16px);
}
.account .account-setting .account-s .info p:nth-child(3) {
  margin-top: 8px;
  font-size: 14px;
}
.account .account-setting .account-s .info p:nth-child(3) a{
  color: #3ea6ff;
}
.account .account-setting .account-s .info p {
  font-size: 16px;
}
.account .account-setting .first-s {
  margin-top: 110px;
}
.account .account-setting .first-s,
.account .account-setting .second-s,
.account .account-setting .third-s,
.account .account-setting .forth-s,
.account .account-setting .fifth-s {
  display: flex;
  flex-direction: column;
  padding: 10px 0px;
}
.account .account-setting .fifth-s {
  padding-bottom: 0;
}
.account .account-setting .first-s,
.account .account-setting .second-s,
.account .account-setting .third-s,
.account .account-setting .forth-s,
.account .account-setting .account-s {
  border-bottom: 1px solid #ffffff33;
}
.account .account-setting .one,
.account .account-setting .two,
.account .account-setting .three,
.account .account-setting .four,
.account .account-setting .five {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 8px 10px;
  cursor: pointer;
}
.account .account-setting .one:hover,
.account .account-setting .two:hover,
.account .account-setting .three:hover,
.account .account-setting .four:hover,
.account .account-setting .five:hover {
  background-color: #3e3e3e;
}
.account .account-setting .third-s .one,
.account .account-setting .third-s .two,
.account .account-setting .third-s .three,
.account .account-setting .third-s .four,
.account .account-setting .first-s .three {
  justify-content: space-between;
}
.account .account-setting svg {
  margin-right: 10px;
}
.account .account-setting p {
  color: #f1f1f1;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 400;
}
.account .account-setting .third-s .arrow,
.account .account-setting .first-s .arrow {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
.account .account-setting .third-s .arrow svg,
.account .account-setting .first-s .three .arrow svg {
  margin-right: 0;
}
.account .account-setting .account-s .close {
  position: absolute;
  display: none;
}
@media (max-width: 520px) {
  nav .third {
    width: auto;
  }
  .account .account-setting {
    width: 100%;
    top: 0;
    left: 0;
    height: 100vh;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    top: 100%;
    height: 100vh;
    max-height: 100vh;
  }
  .account .account-setting .account-s {
    width: 100%;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .account .account-setting .account-s .close {
    display: block;
    top: 5px;
    right: 0px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    color: #f1f1f1;
  }
}
.m-search-container {
  position: fixed;
    height: 100vh;
    width: 100%;
    z-index: 10;
    top: 0;
    left: 0;
    display: none;
}
.m-search {
  position: fixed;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 54px;
  background-color: #1f1f1f;
  align-items: center;
  top: 0;
  left: 0;
  padding: 0 14px;
  top: -54px;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -ms-transition: .2s;
  -o-transition: .2s;
}
.m-search .m-back {
  height: 100%;
  width: 25px;
  display: flex;
  align-items: center;
  margin-left: 5px;
}
.m-search .m-back svg {
  width: 18px;
  height: 18px;
  margin-top: 1px
}
.m-search .search-input {
  width: 70%;
  height: 32px;
  display: flex;
  align-items: center;
  display: flex;
}
.m-search .search-input .text {
    background-color: #373737;
    border-radius: 16px 0px 0px 16px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.m-search .search-input input {
  background-color: #373737;
  border: navajowhite;
  margin-left: 10px;
  width: 100%;
  color: #f1f1f1;
  font-family: 'Roboto';
  height: 24px;
}
.m-search .search-input input:focus {
  outline: none;
}
.m-search .search-input .search-icon {
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #373737;
  border-radius: 0px 16px 16px 0px;
  width: 37px;
}
.m-search .search-input .search-icon svg {
  width: 24px;
  height: 24px;
}
.m-search .voice-icon {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  background-color: #373737;
  justify-content: center;
  border-radius: 50%;
  margin-left: 5px;
}
.third .notifications {
  position: relative;
}
.open-notifications {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 6px;
  width: 480px;
  background-color: #282828;
  border-radius: 13px;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  -ms-border-radius: 13px;
  -o-border-radius: 13px;
  font-family: 'Roboto';
  color: #f1f1f1;
  overflow-y: scroll;
  z-index: 20;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
  right: -490px;
  height: calc(100vh - 15px);
  max-height: 650px;
  z-index: 101;
  display: none;
  opacity: 0;
}
.open-notifications::-webkit-scrollbar {
  display: block;
  width: 1px;
}
.open-notifications::-webkit-scrollbar-track {
  margin: 12px;
  background-color: #282828;
}
.open-notifications .headding {
  position: fixed;
  display: flex;
  width: 480px;
  justify-content: space-between;
  align-items: center;
  padding: 6px;
  border-bottom: 1px solid #505050;
  background-color: #282828;
  border-radius: 13px 13px 0 0;
}
.open-notifications .headding .settings-icon {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.open-notifications .headding .settings-icon:hover {
  background-color: #505050;
}
.open-notifications .headding .settings-icon svg {
  width: 22px;
}
.open-notifications .headding h1 {
  font-size: 18px;
  padding: 10px;
}
.open-notifications h1 {
  font-weight: 400;
}
.open-notifications  .notif {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  min-height: 100px;
  max-height: 150px;
  padding: 16px 10px 8px 10px;
  overflow: hidden;
}
.open-notifications  .notif:first-child {
  margin-top: 55px;
}
.open-notifications  .notif:last-child {
  padding-bottom: 0;
}
.open-notifications  .notif .user-img img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}
.open-notifications  .notif .text {
  flex: 1;
  margin-left: 18px;
}
.open-notifications  .notif .text h1 {
  font-size: 16px;
  margin-bottom: 8px;
}
.open-notifications  .notif .text span {
  font-size: 12px;
  color: #aaa;
}
.open-notifications  .notif .vid-img img {
  width: 85px;
  height: 50px;
  margin-right: 25px;
  border-radius: 6px;
}
@media (max-width: 680px) {
  .open-notifications {
    right: 0;
    bottom: -600px;
    height: 100vh;
    width: 100%;
    border-radius: 0;
    top: unset;
    display: none;
    max-height: 100vh;
    opacity: 0;
  }
  .open-notifications .notif .vid-img img {
    width: 65px;
    height: 40px;
    margin-right: 15px;
  }
  .open-notifications  .notif .text h1 {
    font-size: 15px;
  }
  .open-notifications .headding {
    width: 100%;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}
}
