.landing {
  background-color: #0f0f0f;
  -o-transform: translateX(72px) translateY(0px);
  -webkit-transform: translateX(0) translateY(0px);
  -moz-transform: translateX(72px) translateY(0px);
  -ms-transform: translateX(72px) translateY(0px);
  transform: translateX(0px) translateY(0px);
  height: initial;
  width: 100%;
  padding: 24px;
  display: flex;
  justify-content: space-between;
  gap: 24px;
  max-width: calc(1280px + 402px + 24px*3);
  margin-inline: auto;
  min-height: initial ;
  /* min-width: calc(480px * 16/9 + 24px*3 + 300px); */
  min-width: 400px;
  min-height: 1200px;
}
body.mobile .landing {
  min-width: initial ;
}
@media (max-width: 1200px) {
  .landing {
    padding: 24px 24px;
  }
}
@media (max-width: 500px) {
  .landing {
    padding: 24px 8px;
  }
}
body.fullScreen .landing {
  max-width: initial;
}

.landing .Wleft {
  flex: 1;
  min-width: 420px;
}
.landing .Wright {
  width: 402px;
}
@media (max-width: 1100px) {
  .landing {
    flex-direction: column;
    justify-content: flex-start;
    display: block;
  }
  .landing .Wright {
    width: 100%;
  }
  .landing .Wleft {
    flex: initial;
  }
}
.Wright .videosCont {
  gap: 10px 0px;
  padding: 0px;
  display: grid;
  grid-template-columns: initial;
}
.Wright .videosCont .video  {
  display: flex;
  gap: 8px;
}
.Wright  .videosCont .video .thumbnail {
  width: 100%;
  max-width: 168px;
}
.Wright .videosCont .video .info .channel-img {
  display: none;
}
.Wright .videosCont .video .info .headder p {
  font-size: 14px;
}
.Wright .videosCont .video .info .channelName {
  font-size: 12px;
}
@media (max-width: 675px) {
  .Wright .videosCont .video {
    margin-inline: initial;
    width: initial;
}
}
.Wright .videosCont .video .thumbnail .mute {
  display: none;
}
.Wright .videosCont .video.active .thumbnail .time {
  display: none;
}
.Wleft .video-interact {
  margin: 12px 0;
  color: #f1f1f1;
  font-family: "Roboto","Arial",'sans-serif';
}
.Wleft .video-interact .video-name {
  margin-bottom: 12px;
}
.Wleft .video-interact .video-name h1{
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  overflow: hidden;
  display: block;
  max-height: 5.6rem;
  text-overflow: ellipsis;
  white-space: normal;
}
.Wleft .video-interact .video-info {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 600px) {
  .Wleft .video-interact .video-info {
    flex-direction: column;
    gap: 14px;
  }
  .Wleft .video-interact .video-info .right {
    justify-content: start;
  }
}
.Wleft .video-interact .video-info .left {
  display: flex;
  align-items: center;
}
.Wleft .video-interact .video-info .left .chanenl-info {
  display: flex;
  margin-right: 24px;
}
.Wleft .video-interact .video-info .chanenl-img {
  margin-right: 12px;
}
.Wleft .video-interact .video-info .chanenl-img img,
.Wleft .video-interact .video-info .chanenl-img a {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: block;
}
.Wleft .video-interact .video-info .chanenl-name a{
  color: #f1f1f1;
  font-family: "Roboto","Arial",'sans-serif';
  line-height: 22px;
  width: fit-content;
  display: block;
  font-weight: 500;
}
.Wleft .video-interact .video-info .chanenl-name .chanenl-subs {
  font-family: "Roboto","Arial",'sans-serif';
  font-size: 12px;
  color: #aaa;
  line-height: 14px;
  margin-top: 1px;
  display: flex;
  gap: 3px;
}
.Wleft .video-interact .video-info .subscibe-btn button{
  font-family: "Roboto","Arial",'sans-serif';
  color: #0f0f0f;
  background-color: #f1f1f1;
  padding: 0 16px;
  height: 36px;
  font-size: 14px;
  line-height: 36px;
  border-radius: 18px;
  cursor: pointer;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.Wleft .video-interact .video-info .subscibe-btn button:hover {
  background-color: #d9d9d9;
}
.Wleft .video-interact .video-info .subscibe-btn button:active {
  background-color: #adadad !important;
}
.Wleft .video-interact .video-info .right {
  display: flex;
  align-items: center;
  gap: 8px;
  flex: 1;
  justify-content: end;
}
@media (max-width: 600px) {
.video-interact .video-info .right {
    justify-content: start !important;
  }
}
.Wleft .video-interact .video-info .right .buttons-handler {
  display: flex;
  gap: 12px;
}
.Wleft .video-interact .video-info .right div > button {
  display: flex;
  align-items: center;
  color: #f1f1f1;
  background-color: rgba(255,255,255,0.1);
  padding: 0 16px;
  height: 36px;
  font-size: 14px;
  line-height: 36px;
  border-radius: 18px;
  cursor: pointer;
  font-weight: 500;
}
.Wleft .video-interact .video-info .right .svg {
  height: 24px;
  width: 24px;
  margin-right: 6px;
  margin-left: -6px;
  position: relative;
}
.Wleft .video-interact .video-info .right div > button:hover {
  background-color: rgba(255, 255, 255, 0.138);
}
.Wleft .video-interact .video-info .right .like-dislike {
  position: relative;
  display: flex;
}
.Wleft .video-interact .video-info .right .like-dislike .like button {
  border-radius:18px 0px 0px 18px;
  display: flex;
}
.Wleft .video-interact .video-info .right .like-dislike .like {
  position: relative;
}
.Wleft .video-interact .video-info .right .like-dislike .like::after {
  content: "";
  background: rgba(255,255,255,0.2);
  position: absolute;
  right: 0;
  top: 6px;
  height: 24px;
  width: 1px;
}
.Wleft .video-interact .video-info .right .like-dislike .dislike button {
  border-radius:0px 18px 18px 0px;
  display: flex;
  width: 52px;
}

.Wleft .video-interact .video-info .more button {
  margin: 0 0 0 0;
  padding: 0 0 0 0 !important;
  width: 36px;
  height: 36px !important;
  justify-content: center;
}
.Wleft .video-interact .video-info .more .svg {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
.Wleft .video-interact .video-info .right .save,
.Wleft .video-interact .video-info .right .report {
  display: none;
}
.Wleft .video-interact .video-info .right .like-dislike .like.active svg path {
  d: path('M3,11h3v10H3V11z M18.77,11h-4.23l1.52-4.94C16.38,5.03,15.54,4,14.38,4c-0.58,0-1.14,0.24-1.52,0.65L7,11v10h10.43 c1.06,0,1.98-0.67,2.19-1.61l1.34-6C21.23,12.15,20.18,11,18.77,11z');
}
.Wleft .video-interact .video-info .right .like-dislike .dislike.active svg path {
  d: path('M18,4h3v10h-3V4z M5.23,14h4.23l-1.52,4.94C7.62,19.97,8.46,21,9.62,21c0.58,0,1.14-0.24,1.52-0.65L17,14V4H6.57 C5.5,4,4.59,4.67,4.38,5.61l-1.34,6C2.77,12.85,3.82,14,5.23,14z');
}
.Wleft .about-video {
  background-color: rgba(255,255,255,0.1);
  position: relative;
  border-radius: 12px;
  min-width: 100%;
  min-width: max(381px,50% - 12px);
  flex: 1;
  flex-basis: 0.000000001px;
  font-family: "Roboto","Arial",sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #f1f1f1;
  padding: 12px;
  cursor: pointer;
}
.Wleft .about-video:not(.opened):hover {
  background-color: rgba(255,255,255,0.2);
}
.Wleft .about-video .video-date-views {
  display: flex;
  gap: 8px;
  font-size: 16px;
  font-weight: 500;
}
.Wleft .about-video .video-about-section {
  max-height: 45px;
  overflow: hidden;
  white-space: nowrap;
}
.Wleft .about-video .video-about-section .about-text {
  padding: 4px 0 12px 0;
  font-family: "Roboto","Arial",sans-serif;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  overflow: hidden;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  white-space: normal;
}
.Wleft .about-video .video-about-section .about-cahneel {
  padding: 16px 0;
  display: none;
}
.Wleft .about-video .video-about-section .about-cahneel .chanenl-info .top{
  display: flex;
}
.Wleft .about-video .video-about-section .about-cahneel .chanenl-info .top .chanenl-img {
  margin-right: 12px;
}
.Wleft .about-video .video-about-section .about-cahneel .chanenl-info .top .chanenl-img img,
.Wleft .about-video .video-about-section .about-cahneel .chanenl-info .top .chanenl-img a{
  width: 72px;
  height: 72px;
  border-radius: 50%;
  display: block;
}
.Wleft .about-video .video-about-section .about-cahneel .chanenl-info .chanenl-name a {
  color: #f1f1f1;
}
.Wleft .about-video .video-about-section .about-cahneel .chanenl-info .chanenl-name .text{
  font-family: "Roboto","Arial",sans-serif;
  font-size: 20px;
  font-weight: 500;
  overflow: hidden;
  display: block;
  max-height: 2.6rem;
  -webkit-line-clamp: 1;
}
.Wleft .about-video .video-about-section .about-cahneel .chanenl-info .top .chanenl-subs{
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 14px;
  margin-top: 3px;
}
.Wleft .about-video .video-about-section .about-cahneel .chanenl-info .bottom {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  max-width: 720px;
  margin: 16px 0;
}
.Wleft .about-video .video-about-section .about-cahneel .chanenl-info .bottom > div {
  width: 50%;
}
.Wleft .about-video .video-about-section .about-cahneel .chanenl-info .bottom > div > button {
  width: 100%;
  color: #f1f1f1;
  border:1px solid rgba(255,255,255,0.2);
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  font-size: 14px;
  border-radius: 18px;
  font-weight: 500;
  cursor: pointer;
}
.Wleft .about-video .video-about-section .about-cahneel .chanenl-info .bottom > div > button:hover {
  background-color: rgba(255,255,255,0.2);
}
.Wleft .about-video .video-about-section .about-cahneel .chanenl-info .bottom > div > button .svg {
  margin-right:6px;
}
.Wleft .about-video  .clsoe-about button {
  font-family: "Roboto","Arial",sans-serif;
  color: #f1f1f1;
  font-size: 14px;
  font-weight: 500;
  margin-top: 12px;
  cursor: pointer;
  padding: 4px 8px;
  transition: 100ms;
}
.Wleft .about-video  .clsoe-about {
  display: none;
}
.Wleft .about-video  .clsoe-about button {
  border: none;
}
.Wleft .about-video  .clsoe-about button:active {
  background-color: transparent !important;
  border: none;
}
.Wleft .about-video.opened .video-about-section {
  height: auto;
  overflow: hidden;
  cursor: initial;
  max-height: initial;
  
  white-space: initial;
}
.Wleft .about-video.opened .video-about-section .about-text {
  -webkit-line-clamp:initial;
}
.Wleft .about-video .more {
  font-size: 16px;
  font-weight: 500;
}
.Wleft .about-video.opened .more {
  display: none;
}
.Wleft .about-video.opened .video-about-section .about-cahneel {
  display: block;
}
.Wleft .about-video.opened .clsoe-about {
  display: block;
}
.Wleft .videoCont {
  position: relative;
}
.ambient-effect {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  filter: blur(0px);
  transform: scale(1 , 1);
  opacity: 0.4;
  transition: 5s;
}
.ambient-effect canvas{
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 16px;
}

body.ambient-mode .ambient-effect {
  filter: blur(100px);
  transform: scale(1 , 1.2);
}
.Wleft .comments .headder {
  margin: 24px 0 32px;
}
.Wleft .comments .headder .comments-state {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}
.Wleft .comments .headder .comments-state .sort {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
}
.Wleft .comments .headder .comments-state .sort p {
  font-size: 14px;
}
.Wleft .comments .headder .comments-state .sort .svg {
  margin-right: 8px;
  display: flex;
  align-items: center;
}.Wleft .comments .headder .comments-state .count {
  margin-right: 32px;
}
.Wleft .comments .headder .comments-state .text {
  font-family: 'Roboto',Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: #f1f1f1;
  font-weight: 500;
}

.comments  .add-comment {
  display: flex;
}
.comments  .add-comment .chanenl-img {
  margin-right: 16px;
}
.comments  .add-comment .chanenl-img img{
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.comments form {
  width: 100%;
  max-width: calc(100% - 56px);
}
.comments form .input {
  font-family: "Roboto","Arial",sans-serif;
  width: 100%;
  border: none;
  height: 20px;
  background-color: transparent;
  color: #f1f1f1;
  margin-bottom: 4px;
  resize: vertical;
  position: relative;
  height: auto;
}

.comments form .input:empty:before {
  content: 'Add a comment...';
  font-family: "Roboto","Arial",sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-size: 14px;
  font-weight: 400;
  color: #aaa;
  position: absolute;
  left: 0;
  top: 0;
}

.comments form .input:focus {
  border: none;
  outline: none;
}
.comments form .type-comment { 
  position: relative;
  border-bottom: 1px solid rgba(255,255,255,0.2);
  margin-bottom: 12px;
}
.comments form .type-comment::before {
  content: "";
  position: absolute;
  width: 0%;
  left: 50%;
  bottom: -1px;
  height: 2px;
  background-color: #f1f1f1;
  transform: translateX(-50%);
}
.comments form .type-comment:focus-within::before {
  transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);;
  width: 100%;
}
.comments .add-comment .bottom {
  opacity: 1;
  display: flex;
  justify-content: flex-end;
}
.comments .add-comment .bottom .comment-submit {
  display: flex;
}
.comments .add-comment .bottom  button {
  font-family: "Roboto","Arial",sans-serif;
  padding: 0 16px;
  height: 36px;
  font-size: 14px;
  line-height: 36px;
  border-radius: 18px;
  margin-left: 8px;
  cursor: pointer;
}
.comments .add-comment .bottom .cancel button {
  color: #f1f1f1;
}
.comments .add-comment .bottom .submit button {
  color: #0f0f0f;
  background-color: #3ea6ff;
}
body.fullScreen .landing {
  padding: 0 12px;
}
body.fullScreen .Wleft.videoCont {
  display: none;
}
.full-screen-holder {
  display: none;
  position: relative;
}
body.fullScreen .full-screen-holder {
  display: block;
  height: 100vh !important;
  width: 100%;
}
body.fullScreen  .full-screen-holder .mainVideo {
  height: 100%;
  width: 100%;
  border-radius: 0px;
}
.comments .comments-section .comment {
  margin-bottom: 16px;
}
.comments .comments-section .main-comment {
  display: flex;
  align-content: center;
  justify-content: space-between;
}
.comments .comments-section .comment .img {
  margin-right: 16px;
}
.comments .comments-section .comment .content {
  display: flex;
  width: 100%;
}
.comments .comments-section .comment .left {
  width: 100%;
}
.comments .comments-section .main-comment .img a {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: block;
}
.comments .comments-section .main-comment .img img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.comments .comments-section .comment .top {
  display: flex;
  margin-bottom: 4px;
}
.comments .comments-section .comment .top .user-name p {
  font-family: 'Roboto',Arial, sans-serif;
  color: #f1f1f1;
  font-size: 13px;
  margin-right: 4px;
}
.comments .comments-section .comment .top .comment-date p {
  font-family: 'Roboto',Arial, sans-serif;
  color: #aaa;
  font-size: 12px;
}
.comments .comments-section .comment .comment-content p{
  font-family: 'Roboto',Arial, sans-serif;
  color: #f1f1f1;
  font-size: 14px;
  line-height: 20px;
}
.comments .comments-section .comment .comment-interacte {
  display: flex;
  margin-top: 4px;
  align-items: center;
}
.comments .comments-section .comment .comment-interacte > div {
  display: flex;
  align-items: center;
}
.comments .comments-section .comment .comment-interacte  button {
  width: 32px;
  height: 32px;
  padding: 4px;
  display: flex;
  color: #f1f1f1;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
}
.comments .comments-section .comment .comment-interacte  button:hover {
  background-color: rgba(255,255,255,0.2);
}
.comments .comments-section .comment .comment-interacte svg,
.comments .comments-section .comment .comment-interacte .svg{
  width: 24px;
  height: 24px;
}
.comments .comments-section .comment .comment-interacte  span {
  font-family: 'Roboto',Arial, sans-serif;
  color: #AAAAAA;
  font-size: 12px;
  margin-right: 8px;
}
.comments .comments-section .comment .comment-interacte .reply {
  margin-left: 8px;
}
.comments .comments-section .comment .comment-interacte .reply button {
  font-family: 'Roboto',Arial, sans-serif;
  padding: 0 12px;
  height: 32px;
  width: auto;
  font-size: 12px;
  line-height: 32px;
  border-radius: 16px;
}
.comments .comments-section .comment .option {
  display: flex;
  align-self: start;
  opacity: 0;
  transition: 0.4s;
}
.comments .comments-section .comment .main-comment:hover .option {
  opacity: 1;
}
.comments .comments-section .comment .option button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.comments .comments-section .comment .option button .svg {
  width: 24px;
  height: 24px;
}
.comments .comments-section .comment .add-comment img{
  width: 24px;
  height: 24px;
}
.Wleft .comment form #commentInput:empty:before {
  content: 'add a reply...';
}
.Wleft .comment .reply-section {
  display: none;
}
.comment .reply-section {
  margin: 4px 0 0 8px;
}
.comment .main-comment.active .reply-section,
.comments .comment .main-comment.active .add-comment .bottom {
  display: flex;
}
.comments .add-comment .bottom {
  display: none;
}
.comments .add-comment.active .bottom {
  display: flex;
}
.comments .replys-comments-section {
  margin: 6px 0 0px 64px;
  display: none;
}
.comments .replys-comments-section.active {
  display: block;
}
.comments .replys-comments-section .reply {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}
.comments .replys-comments-section a {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: block;
}
.comments .replys-comments-section img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}
.comments .show-hide-replys-btn {
  margin-left: 47px;
}
.comments .show-hide-replys-btn button {
  display: flex;
  align-items: center;
  font-family: 'Roboto',Arial, sans-serif;
  color: #3ea6ff;
  cursor: pointer;
  padding: 0 16px;
  height: 36px;
  font-size: 14px;
  line-height: 36px;
  border-radius: 18px;
}
.comments .show-hide-replys-btn button:hover {
  background-color: #263850;
}
.comments .show-hide-replys-btn .svg {
  height: 24px;
  width: 24px;
}
.comments .show-hide-replys-btn .svg svg {
  fill: #3ea6ff;
}
.comments .comments-section .reply:hover .option {
  opacity: 1;
}
.comments .comments-section .comment.open-reply .replys-comments-section{
  display: block;
}
.comments .comment .show-hide-replys-btn .svg svg {
  transition: 200ms;
}
.comments .comment.open-reply .show-hide-replys-btn .svg svg {
  transform: rotate(180deg);
}
body.fullScreen .Wleft .videoCont {
  display: none;
}
body.mobile nav {
  display: none;
}
body.mobile .full-screen-holder {
  display: block;
}
body.mobile .landing {
  padding: 0px 6px 52px 6px;
  transform: translateY(0px);
}
body.mobile .landing .Wleft {
  min-width: initial;
}
body.mobile .videoCont {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
}
body.mobile.ambient-mode .ambient-effect {
  filter: blur(50px);
}